 body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    background: linear-gradient(135deg, #1d768f, #085b4d);
    color: #e6eaf0;
  }

  h1 {
font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
 margin-bottom: 10px;
 letter-spacing: 1px;
 color: #e6eaf0;
  }

  p {
    margin-top: 0;
    margin-bottom: 28px;
    font-size: 1.1rem;
    opacity: 0.75;
  }

  a.button {
    padding: 14px 30px;
    background: #1d768f;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 3px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: 0.2s ease;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;

  }

  a.button:hover {
    background: #00c7a6;
    box-shadow: 0 6px 16px rgba(0,0,0,0.20);
    transform: translateY(-2px);
  }

  footer {
    position: absolute;
    bottom: 20px;
    font-size: 0.85rem;
    opacity: 0.5;
  }

p{
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
}